<div class="footer">
    <div class="legal-info">
        <a routerLink='/imprint'>Impressum - Legal Notice</a>
        <a routerLink='/data-protection'>Datenschutzerklärung - data protection</a>
    </div>
    <div class="social media">
        <a href="https://github.com/fabigu14">
            <img src="assets/img/github-fill.png" alt="github">
        </a>
        <a href="https://www.xing.com/profile/Fabian_Gurth/cv">
            <img src="assets/img/xing-fill.png" alt="xing">
        </a>
    </div>
</div>