<div class="about">
    <div class="intro">
        <img src="assets/img/fabi(2).jpg" alt="profil-img">
        <div class="intro-text">
            <h2>About me.</h2>
            <div>
                <p>" I'm a sports enthusiast (love to play football) 
                    and front end developer who loves pushing boundries "</p>
            </div>
            
        </div>
    </div>
    
    <div class="hiphen"></div>

    <div class="info-section">
        <div class="info-box">
            <div class="img-box">
                <img src="assets/img/walk-line.png" alt="walking img">
            </div>
            <h3>MY JOURNEY BEGAN</h3>
            <p>with a hardware focused Apprenticeship as “Elektroniker für Geräte und Systeme”. There I gained substantial computer knowledge and my first experience in developing software for microcontrollers. </p>
        </div>
        <div class="info-box">
            <div class="img-box">
                <img src="assets/img/heart-line.png" alt="walking img">
            </div>
            <h3>MY PASSIONATE ABOUT</h3>
            <p>playing football. To find solutions and make the right decisions under pressure together with your team,
                 is one of the most required skills in football.</p>
        </div>
        <div class="info-box">
            <div class="img-box">
                <img src="assets/img/search-line.png" alt="walking img">
            </div>
            <h3>ALLWAYS SEARCHING FOR</h3>
            <p>opportunities to improve myself and learn something new, as I did with learning how to code.</p>
        </div>
        <div class="info-box">
            <div class="img-box">
                <img src="assets/img/flight-takeoff-line.png" alt="walking img">
            </div>
            <h3>FINALLY, I'M GONNA FOLLOW MY DREAM</h3>
            <p>looking forward to work as a front end developer, sharing my ideas and applying my skills within a innovative company.</p>
        </div>
    </div>
</div>
