<div class="contact">
    <div class="content">
        <h2>Contact me.</h2>
        <span>Get in touch via the form below, or by emailing 
        <a href="mailto:fabigurth@googlemail.com" class="mail">fabigurth@googlemail.com</a></span>

        <form action="https://fabiangurth.de/send_mail.php" method="post">
            <label for="name">Name</label>
            <input name="name" type="text" placeholder="Enter your name">
            <label for="email">Email adress</label>
            <input name="email" type="text" placeholder="Enter your Email adress">
            <label for="message">Message</label>
            <textarea name="message" placeholder="Enter your message" id="" cols="30" rows="10"></textarea>
            <div class="btn-box">
                <button type="submit">Send</button>
            </div>

        </form>
    </div>
</div>