<div class="skill-section">
    <h2>MY Skills</h2>
    <div class="skills">
        <div class="skill">
            <span>Java script</span>
            <div class="skill-logo">
                <img src="assets/img/java script.png" alt="js-logo">
            </div>
        </div>
        <div class="skill">
            <span>Angular</span>
            <div class="skill-logo">
                <img src="assets/img/angular.png" alt="angular-logo">
            </div>
        </div>
        <div class="skill">
            <span>HTML / CSS</span>
            <div class="skill-logo">
                <img src="assets/img/Group 205.png" alt="html-logo">
            </div>
        </div>
        <div class="skill">
            <span>Scrum</span>
            <div class="skill-logo">
                <img src="assets/img/Group 226.png" alt="scrum-logo">
            </div>
        </div>
        <div class="skill">
            <span>Git</span>
            <div class="skill-logo">
                <img src="assets/img/Git-Icon-1788C 2.png" alt="git-logo">
            </div>
        </div>
        <div class="skill">
            <span>Design <br> Thinking</span>
            <div class="skill-logo">
                <img src="assets/img/Group 20.png" alt="design-logo">
            </div>
        </div>
        <div class="skill">
            <span>Rest API</span>
            <div class="skill-logo">
                <img src="assets/img/icons8-rest-api-80 2.png" alt="rest-logo">
            </div>
        </div>
        <div class="skill">
            <span>Test <br> automation</span>
            <div class="skill-logo">
                <img src="assets/img/icons8-test-lab-96 2.png" alt="test-logo">
            </div>
        </div>
        <div class="skill">
            <span>Databases</span>
            <div class="skill-logo">
                <img src="assets/img/icons8-database-52 2.png" alt="database-logo">
            </div>
        </div>
    </div>
</div>