<div class="imprint">
    <h1>Impressum</h1>
    <h2>Angaben gemäß § 5 TMG:</h2>
    <p><br>Fabian Gurth</p>
    <h3>Postanschrift:</h3>
    <p>Hauptstr. 52<br>Markgröningen<br></p>
    <h3>Kontakt:</h3>
    <p>Telefon: 01773470656<br>E-Mail: fabigurth@googlemail.com</p>
    <p></p><p><br></p>
    <p></p><h2>Hinweise zur Website</h2>
    <p></p><h3>Urheberrechtliche Hinweise</h3>
    <p>Seeklogo.com, CC BY-SA 4.0 <a href="https://creativecommons.org/licenses/by-sa/4.0">https://creativecommons.org/licenses/by-sa/4.0</a>, via Wikimedia Commons<br></p>
    <p></p><h2>Information gemäß § 36 VSBG</h2>
    <p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
    <p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    <p></p><p><em>Das Impressum wurde mit dem <a href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der activeMind AG</a> erstellt.</em></p>
</div>

