body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 18px;
}

:root{
    --primary-color: #fa2759; 
    --secondary-color: #2dfcd8;
    --bg-black: #000000;
    --bg-gray: #1a1a1a;
}

h1{
    font-size: 64px;
}

h2{
    font-size: 36px;
}

p, button{
    font-size: 18px;
}